<% layout('/layouts/boilerplate') %>

  <h1>BEACHES UPDATE FORM</h1>
  <form class="needs-validation" action="/beaches/<%= beach._id%>?_method=PUT" method="POST" novalidate
    enctype="multipart/form-data">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" name="title" value="<%= beach.title%>" required>
      <label for="floatingInput">Beach Name</label>
      <div class="valid-feedback">Looks good!</div>
    </div>
    <label for="floatingInput">Choose a New Thumbnail</label>



    <div class="form-floating mb-3">
      <input type="file" name="image" id="" value="">
    </div>
    <!-- <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" name="image" value="<%= beach.image%>" required>
      <label for="floatingInput">Image URL</label>
      <div class="valid-feedback">Looks good!</div> -->

    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" name="location" value="<%= beach.location%>" required>
      <label for="floatingInput">City, State</label>
      <div class="valid-feedback">Looks good!</div>

    <div class="form-floating">
      <textarea class="form-control" rows="6" style="height:100%;" id="floatingTextarea" name="description"
        required><%= beach.description%></textarea>
      <label for="floatingTextarea">Description</label>
      <div class="valid-feedback">Looks good!</div>

    </div>
    <button>Update</button>
  </form>


  <form action="/beaches/<%= beach._id%>?_method=DELETE" method="POST">
    <button>Delete</button>
  </form>
  <a href="/beaches/<%= beach._id%>">Back</a>

  

