<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= beach.title %></title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src='https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css' rel='stylesheet' />
  <link rel="stylesheet" href="/styles/star-ratings.css">
  <link rel="stylesheet" href="/styles/show.css">
</head>
<%- include('../views/partials/navbar.ejs') %>

<body>
  <h1 class="show-title">
    <%= beach.title %> 
  </h1>
  <section class="show-top">
  <div class="card mb-3" style="width: 50%;">
    <img src=<%=beach.image.url %> class="card-img-top" alt="">
    <div class="card-body">

      <p class="show-card-desc">
        <%= beach.description %>
      </p>
      <p class="show-card-text">
          <%= beach.location %>
        </p>
      <p class="show-card-text">
          Posted by: <%= beach.owner.username %>
        </p>
    </div>
   
    <% if (currentUser && beach.owner.equals(currentUser._id)) {%>
      <a href="/beaches/<%= beach._id%>/edit">Edit</a>
      <% } %>
  </div>
  <div class="show-map" id='map' ></div>
</section>

<section class="review-card">
  <% if (currentUser){ %>
    <h2>Leave a Review</h2>
    <form class="mb-3 needs-validation" action="/beaches/<%=beach._id%>/reviews" method="POST" novalidate>
        <div class="show-stars">
      <fieldset class="starability-grow">
        <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="3" checked
          aria-label="No rating." />
        <input type="radio" id="first-rate1" name="rating" value="1" />
        <label for="first-rate1" title="Terrible">1 star</label>
        <input type="radio" id="first-rate2" name="rating" value="2" />
        <label for="first-rate2" title="Not good">2 stars</label>
        <input type="radio" id="first-rate3" name="rating" value="3" />
        <label for="first-rate3" title="Average">3 stars</label>
        <input type="radio" id="first-rate4" name="rating" value="4" />
        <label for="first-rate4" title="Very good">4 stars</label>
        <input type="radio" id="first-rate5" name="rating" value="5" />
        <label for="first-rate5" title="Amazing">5 stars</label>
      </fieldset>
      </div>  

      <div class="mb-3">
        <textarea class="form-control" name="body" id="body" cols="80" rows="5" required></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>
      <button class="btn btn-success">Submit</button>
    </form>
    <% } %>

    <h2>
      Reviews:
    </h2>
    <container class="beach-reviews-con">
      <% for (let review of beach.reviews.reverse()) { %>
        <div class="beach-reviews">


       <div class="name-rating">
          <h2 class="review-name">
            <%= review.author.username %>
          </h2>
          <p class="starability-result" data-rating="<%=review.rating%>">
            Rated: <%= review.rating %> stars
          </p>
        </div>
        <div class="body-delete">
          <p>"<%= review.body %>"
          </p>

          <% if (currentUser && review.author.equals(currentUser._id)) {%>

            <form action="/beaches/<%=beach._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
              <button class="btn btn-danger">Delete</button>
            </form>
            <% } %>
        </div>
        </div>
        <% } %>
      </section>
    </container>

          
          <script>
            const mapboxToken = '<%-process.env.MAPBOX_TOKEN%>';
            const beach = <%- JSON.stringify(beach)%>
            
          </script>

          <script src="/js/showMap.js"></script>
</body>
<%- include('../views/partials/footer') %>

</html>

