<% layout('/layouts/boilerplate') %> 

  <h1><%= beach.title %> DETAILS PAGE</h1>
  <img src=<%= beach.image %>>
  <ul>
    <%= beach.title %>
      <li>
        <%= beach.location %>
      </li>
      <li>
        <%= beach.description %>
      </li>
  </ul>
  <a href="/beaches">Back</a>
  <a href="/beaches/<%= beach._id%>/edit">Edit</a>
  
